/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#List2>ul{
  list-style-type:square ;
}
#flexdiv{
  width: 20vw;
  display: flex;
  justify-content: space-between;
  margin: auto;

}
#buttondiv{
  width: 16vh;
  margin-top:1vh;
}
#buttondiv>button{
  width: 100%;
  padding: 1vh;
  border-radius: 1vw;
  border: none;
  /* background-color: #1e96d4; */
}
#btnJoin{
  background-color: dodgerblue;
}
#btnSettings{
  background-color: mediumaquamarine;
}
#btnLogin{
  background-color: goldenrod;
}
#btnContact{
  background-color: crimson;
}
#btnSearch{
  background-color: olivedrab;
}
#btnHelp{
  background-color: slategray;
}
#btnHome{
  background-color: palevioletred;
}
#btnDownload{
  background-color: peru;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
